@font-face {
    font-family: 'jejuH';
    src: url('../font/제주한라산\(윈도우\).ttf');
}
@font-face {
    font-family: 'jejuG';
    src: url('../font/제주고딕\(윈도우\).ttf');
}
@font-face {
    font-family: 'jejuM';
    src: url('../font/제주명조\(윈도우\).ttf');
}

body {
    font-family: 'jejuG';
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.bg-1 {
    background-color: #1abc9c;
    color: #fff;
}
.bg-2 {
    background-color: #69C1B8;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #B9C7D4;
    color: #555555;
}
.bg-5 {
    background-color: #12806C;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid h3 {
    font-family: 'jejuH';
}
#portfolio p {
    height: 20px;
}
@media screen and (max-width: 767px) {
    #portfolio p {
        margin-top: 30px;
    }
}